.tableContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    scroll-behavior: smooth;
    overflow-y: auto;
    background-color: inherit;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 10px;
}

.employeeRowContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.infoRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px dashed #DFDFDF;
}
.nameContainer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}
.infoRowTitle{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.detailsContainer div{
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   width: 100vw;
   padding: 0 20px 0 20px;
}
.employeeRowContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0500FF;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: none;
    width: 95vw;
    height: 60px;
}

.employeeRowContent div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}
.employeeRowContent p{
    width: 100%;
}
    
.employeeRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-height: 50px;
}   
.employeeRow div{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}
.employeeRow div:first-child{
    justify-content: flex-start;
    margin-left: 10px;
}

.toggleContainer:active{
    width: 100%;
    display: block;
    flex-direction: column;
}

.employeeRow div:last-child{
    justify-content: flex-end;
    margin-right: 10px;
    padding-right: 5px;
}
.employeeRow button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.employeeRow button{
    color: #0500FF;
}
.firstColumn{
    margin-left: 10px;
}
.firstColumn h3{
    display: flex;
    flex-grow: 1;
}
.firstColumn img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 10px;
}

.employeeRow img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.toggleContainer{
    display: none;
    transition: all 0.3s ease-in-out;
    max-width: 50px;
}

div.firstColumnContent{
    width: 80px;
}
.name{
    padding-left: 35px;
}